
<% news.forEach((item) => { %> <!-- Начало цикла для перебора элементов массива 'news' -->
    <div class="col-md-4"> <!-- Открываем блок для каждого элемента -->
      <figure>
        <h1 class="title"><%= item.title %></h1> <!-- Выводим заголовок новости -->
        <img class="poster" src="/uploads/<%= item.poster %>" alt=""> <!-- Выводим постер новости -->
      </figure>
      <a class="post" href="/news/<%= item.postId %>">Подробнее</a> <!-- Создаем ссылку для подробной информации о новости -->
    </div> <!-- Закрываем блок для каждого элемента -->
  <% }); %> <!-- Завершение цикла -->
