<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Papa Pizziano</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Font+Name">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href ="./css/style.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');
  </style>
</head>
<body>
  <header>
    <h1>Добро пожаловать в ресторан Restik!</h1>
  </header>
  
  
  <nav>
    <form action="./login">
      <button type="submit">Вход</button>
    </form>
    
    <form action="./register">
      <button type="submit">Регистрация</button>
    </form>
    
    <form action="./dashboard">
      <button type="submit">Личный кабинет</button>
    </form>
  </nav>
  
  
  
  <section>
    <h2>Меню</h2>
    <div>
      <h3>Первые блюда</h3>
      <ul>
        <li>Креветки в сливочном соусе - 5000 тг.</li>
        <li>Паста карбонара - 3000  тг.</li>
        <li>Грибная нарезка  - 4000 тг.</li>
      </ul>
    </div>
    <div>
      <h3>Основные блюда</h3>
      <ul>
        <li>Стейк - 7500 тг.</li>
        <li>Рыба на гриле - 6500 тг.</li>
        <li>Паста Дель маре (Pasta del mare) - 5700 тг.</li>
      </ul>
    </div>
    <div>
      <h3>Десерты</h3>
      <ul>
        <li>Тирамису - 4500 тг.</li>
        <li>Шоколадный торт - 4350 тг.</li>
        <li>Фруктовый салат - 2790 тг.</li>
      </ul>
    </div>
  </section>

  <div class="container">
    <div class="grid">
      <% let loop = 0; %> <!-- Инициализируем переменную цикла -->
      <% news.forEach((item, index) => { %> <!-- Итерируемся по массиву новостей -->
        <% if (loop < 12) { %> <!-- Проверяем, если количество новостей меньше 12 -->
          <div class="item"> <!-- Открываем блок новости -->
            <h1 class="title"><%= item.title %></h1> <!-- Выводим заголовок новости -->
            <p><%= item.description %></p> <!-- Выводим описание новости -->
            <img class="poster" src="/uploads/<%= item.poster %>" alt=""> <!-- Выводим изображение новости -->
            <a class="post" href="/news/<%= 'post' + (++loop) %>">Подробнее</a> <!-- Выводим ссылку для подробной информации -->
          </div> <!-- Закрываем блок новости -->
        <% } else if (loop === 12) { %> <!-- Если количество новостей равно 12 -->
          <a href="/allnews">Смотреть все новости</a> <!-- Выводим ссылку на все новости -->
        <% } %>
        <% loop++; %> <!-- Увеличиваем значение цикла на 1 для следующей итерации -->
      <% }); %> <!-- Завершаем цикл по массиву новостей -->
    </div>
    </div>
  
  <section>
    <h2> Наши популярные блюда:
         Стейк из мраморной говодяни
    </h2>
    <div>
      <img src="img/mram_govyadina.jpg" alt="Стейк из мраморной говядины">
      <p>Самый популярный стейк из мраморной говядины – это стейк рибай.
         Делают его из толстого края бычка, который располагается на спинной части животного. 
         Такое мясо имеет тонкие волокна, поэтому готовый стейк получается достаточно мягким и сочным.
          На рибае все вкрапления распределены очень равномерно и наиболее выражены.</p>
    </div>

    <div>  
      <h3> Рыба на гриле
      </h3>
      <img src="img/p_O.jpg" alt=" Блюдо 2">
      <p>Семга имеет сильный и мощный вкус — то,
         что надо для приготовления на открытом огне, когда все ощущения должны быть особенно яркими. 
        Она способна выдержать любые маринады, 
        но особенно вкусна приготовленная о-натюрель,
         на березовых углях с минимальным количеством специй.
          Бадри Лемонджава,
          шеф-повар грузинского бара Megobari,
           считает краткость талантом, поэтому выбирает самый лучший и толстый кусок рыбной туши, 
           натирает сладкой и острой паприкой, каменной солью и сразу отправляет на мангал, получая на выходе стейк исключительных достоинств.</p>
    </div>
    <div>
      <h4>
        Паста Дель маре (Pasta del mare)
      </h4>
      <img src="img/205_1685095642-scaled-e1685095701744-1280x640.jpg" alt="Блюдо 3">
      <p>Паста Дель маре (Pasta del mare) — традиционная итальянская паста с морепродуктами.
         Тесто, разрезанное на тонкие полосы, приготовленное по этому рецепту, приобретает нежный вкус креветок, кальмаров, мидий или их коктейля.
          В составе этого угощения принято использовать любые морепродукты.
           Главным ингредиентом в пасте является нежнейший соус Бешамель.</p>
    </div>
  </section>
  <aside>
    <h2>Шеф-повар</h2>
    <div>
      <img src="img/20160314-WED_2158.jpg" alt="Шеф-повар">
      <p>Наш шеф-повар, Иван Иванов, является профессионалом своего дела с более чем 20-летним опытом. Он эксперт в итальянской кухне и специализируется на создании изысканных блюд из морепродуктов. Вы можете связаться с ним по следующим контактным данным:</p>
    
      <ul>
        <li>Телефон: 8-777-777-77</li>
        <li>Email: ivan@example.com</li>
        <li>Instagram: @ivan_cooking</li>
      </ul>

    </div>
  </aside>
  
  <footer>
    <p> Адрес ресторана: Толе - би 167  | Телефон: 8-708-123-456-78</p>
  </footer>
  
</body>
</html>
