<!DOCTYPE html>
<html lang="en">
<head>
    <title>Вход</title>
</head>
<body>
    <div class="form">
        <h1>Вход</h1>
        <form method="POST" action="/login">
            <!-- Форма для входа пользователя -->
            <label for="email">Email:</label>
            <div class="form-input"><input type="email" name="email" required></div>
            <!-- Поле ввода для адреса электронной почты с обязательным заполнением -->
            <br>

            <label for="password">Пароль:</label>
            <div class="form-input"><input type="password" name="password" required></div>
            <!-- Поле ввода для пароля с обязательным заполнением -->
            <br>

            <button type="submit">Войти</button>
            
            <!-- Кнопка для отправки формы и выполнения входа -->
        </form>
    </div>
</body>
</html>
