<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>

<body>
    <h1>Регистрация</h1>
    
    <!-- Форма регистрации -->
    <form action="/register" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        
        <!-- Кнопка для отправки формы -->
        <button type="submit">Зарегистрировать</button>
    </form>
</body>

</html>
